
/* Resets */
*{margin: 0;
    padding: 0;
box-sizing: border-box;}
img{max-width: 100%;
height: auto;
display: block;}

/* skub tekst under headeren */
main {
    padding-top: 80px;
padding-bottom: 80px;}



/* MENU */

.menu{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    align-items: center;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: black;
  }

  /* Venstre side af menuen, search icon */
  .search-icon img {
    transform: rotate(315deg);
    width: 24px;
    height: 24px;
    transition: transform 0.2s;
}

.search-icon:hover img {
    transform: scale(1.5);
}

/* Højre side af, navigation */

    .nav {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        gap: 30px;
    }
    .menu a {
        color: white;
        text-decoration: none;
        font-size: 18px;

        transition: color 0.2s;
        font-family: "montserrat-light";}

        .menu a:hover {
            text-decoration: underline;
        }

  .menu li {
    display: inline;
}




    /* FORSIDE */
    .frontpage {
        background-image: url(background.svg);
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
        height: auto; 
    }


/* Centrering af H1 og logo */
.frontpage-content {
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr;
    text-align: center;
    place-items: center;
}

/* H1 STYLING */

h1{
font-family: "audiowide";
font-size: 40px;
text-align: center;}

h3{font-family:"montserrat-bold" ;}
h2{font-family:"montserrat-bold" ;}
p{font-family: "montserrat-light";}




/* Frontpage content */
/* Hover-effekt: Skifter logoet til rød */
.black-logo:hover {
    content: url('red-logo.svg'); /* Skifter til rød version */
}


/* ARTISTS */
.artist-background{background-color: rgb(239, 239, 239);}
h1.artist{text-align: center;}


.artist-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.artist-grid a {
    text-decoration: none;
    color: inherit; 
}
.artist h3{margin-bottom: 10px;}

.smoke{margin-bottom: 80px;}

/* CONTACT */
.contact-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.contact-info p{line-height: 1.9;}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.adress-info
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.address-info h3 {
    margin-bottom: 10px;
}

.address-info div {
    margin-bottom: 20px;
}

.adress-info {line-height: 1.9;}
hr {
    margin: 40px 0;
    border-top: 2px solid black;

}

.contact-info h1{margin-bottom: 20px}


/* SPECIFIC ARTIST */

.berg-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
}

.artist-p{line-height: 1.5;}
.berg-img {border-radius: 30px;}

.berg-info p{max-width: 250px;
text-align: left;}


.art-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
}

.berg-info p {
    margin-top: 10px;
}
.berg-info img{margin-bottom: 5px;}

.berg-info h1 {
    margin-bottom: 40px;
}




/* ABOUT */
.about{max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;}

    .about p{max-width: 400px;
    text-align: left;
margin: 0 auto 20px;
line-height: 1.9;}

    .about h1{max-width: 100%;
    margin-bottom: 20px;}

/* Baggrund på About og Contact */
.grey-background {
    background-image: url(img/Background-grey.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%; 
}
/* Footer */

footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    width: 50px;}


